# Archivos del sistema
*.DS_Store
Thumbs.db
.vscode/
.idea/

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
.coverage
htmlcov/
.pytest_cache/

# Entornos virtuales
.env
.venv/
env/
venv/

# Archivos de configuración locales
*.log
*.ini
*.cfg
.toml
# Mantener JSON locales de config ignorados,
# pero permitir los de docs/perf/
*.json
!perf/*.json

# Datos generados
/datasets/*
!/datasets/.gitkeep   # Mantener la carpeta vacía en el repo

# Mantener la carpeta exports vacía
/exports/*
!/exports/.gitkeep

# Archivos de Jupyter (por si acaso)
.ipynb_checkpoints/

# Archivos de Excel temporales
~$*.xlsx